<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Security Tutorial</title>
    
</head>

<body>

<form th:action="@{/registration}" method="get">
    <button type="Submit">Go To Registration Page</button>
</form>

    <form th:action="@{/login}" method="POST" class="form-signin">
        <h3 th:text="Welcome"></h3>
        <br/>

        <input type="text" id="user_name" name="user_name" placeholder="User Name"
               class="form-control"/> <br/>
        <input type="password" th:placeholder="Password"
               id="password" name="password" class="form-control"/> <br/>

        <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;">User Name or Password invalid, please verify</p>
        </div>
        <button name="Submit" value="Login" type="Submit"
                th:text="Login"></button>
    </form>

</body>
</html>